.container-fluid {
    height: 100vh;
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;

}

.app {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

main{
    height: calc(100% - 90px);
    


}

.sidebar{
    background-color: #000000;
    color: white;
    display: flex;
    flex-flow:column;
    height: calc(100vh - 90px);
    justify-content: space-between;
    overflow: hidden;
    font-size: 12px;
}

main .content{
    background-color: cadetblue;
    overflow-y: scroll;
    height: 100%;

}

footer{
    background-color: #282828;
    height: 90px;

}

.top-bar{
    height: 90px;
    opacity: 70%;
    background-color: black;
    position: fixed;
    width: 100%;
}

button {
    position: absolute;
    top: 25px;
    left:70%;
    font-size: 12px;
    
}
/* ESEMPIO per calcolare sforo contenuti rispetto
al container */
.example{
    height: 200vh;
    width: 200px;
}

.player{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;


}
a{
    text-decoration: none;
    color: white;
}


ul{
    display: flex;
    list-style: none;
    color: white;
    /* font-size: 12px; */
    align-items: flex-start;

}
.logo img{
    padding: 10px;
    width: 80%;
}

.logo-small img{
    display: none;
}


.nav-sidebar{
    margin-top: 15px;
}

.nav-sidebar ul {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding-left: 10px;
    
}

.playlist-sidebar{
    flex-shrink: 1;
    flex-grow: 1;
    overflow: auto;
}

.playlist-sidebar ul{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    margin-top: 10px;
}

.playlist-sidebar li{
    margin-top: 10px;



}


.playlist-sidebar h5{
    margin-top: 20px;
    padding-left: 10px;
    font-size: 15px;
}

.crea{
    display: flex;
    align-items: center;
    margin-top: 15px;
    padding-left: 10px;
    font-size: 15px;
    
}
.crea i{
    font-size: 30px;

}

.nav-sidebar ul li img{
    width: 30px;
    height: auto;
    vertical-align: middle;
}

.nav-sidebar ul li a{
    font-size: 12px;
    vertical-align: middle;
}

/* modifica post-correzione mattina */
.top-sidebar{
    display:flex;
    flex-direction: column;
    min-height: 600px;
    padding-left: 10px;
}
    

.bottom-sidebar{
    height: 150px;
}

.user, .install{
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin: 10px 5px 10px 5px;
}
.install{
    border-bottom: 1px solid teal;
}


.install img{
    width: 30px;
    height: auto;
    
}

.user img{
    width: 25px;
    height: auto;
}


    
    




/* footer  */

.central-ul{
    justify-content: center;
}

.top-menu ul{
    margin-top: 120px;
    justify-content: center;
    font-size: 14px;
}
.top-menu ul li{
    padding-left: 5px;
}


/* soluzione per immagine da chiarire */
img{
    width: 70px;
    height: 70px;
    
    
}


.fa-play-circle{
    font-size: 24px;
}

.first-ul li, .central-ul li, .end-ul li{
    padding: 0 10px;
}