.container-fluid {
    height: 100vh;
    background-color: beige;
    font-family: 'Montserrat', serif;

}

.app {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

main{
    height: calc(100% - 90px);
    
}



.sidebar{
    background-color: #000000;
    color: white;
    display: flex;
    flex-flow:column;
    height: calc(100vh - 90px);
    justify-content: space-between;
    overflow: hidden;
    font-size: 12px;
}

main .content{
    background-color:#141922;
    overflow-y: scroll;
    height: 100%;

}


/* top-fixed button rifatto DENTRO div absolute */

.top-bar{
    height: 90px;
    /* opacity: 70%; */
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 1001;

}

.top-bar div{
    position: absolute;
    bottom: 25px;
    right:0px;

}



button {
    border-style: none;
    height: 35px;
    width: 200px;
    margin-right: 25px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 1);
    border:1px solid white;
    font-size: 12px;
    color: white;
}

.top-bar button:hover{
    transform: scale(1.1);
}

/* nav top-menu  no flex*/


.nav-top-menu{
    margin: 120px 0px 40px;
    text-align: center;
}

.nav-top-menu ul{
    font-size: 14px;
    display: inline-block;
    color:#a3a3a3;
}


    
.nav-top-menu ul li{
    display: inline-block;
    margin-right: 10px;
    position: relative;

}

/* no - solo riga fare div absolute in li relative?-  
.nav-top-menu ul li:hover{
    text-decoration: underline;
    color: seagreen;


}*/
/* ESEMPIO per calcolare sforo contenuti rispetto
al container */
 
/*.example{
    height: 200vh;
    width: 200px;
}
/*
    /* start album cover name  */
    
.content h3{
    font-size: 26px;
    font-weight: bold;
    color: white;
    margin-left: 15px;
    margin-top: 15px;

}



.albums{
    margin-left:20px;

}
.name-cover, .ndname-cover{
    margin-top: 5px;
    color: white;

}


.name-cover{
    font-size: 14px;
}

.ndname-cover {
    font-size: 10px;
    color: #AEAEAE;
}

.content span{
    font-size: 10px;
    color: #AEAEAE;
    margin-left: 15px;

}



.albums .cover img{
    width: 90%;
    height: auto;
}

.cover{
    text-align: center;
    margin-top: 25px;
    margin-left: 10px;
}

.icon-play{
    position: relative;
}
.icon-play i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:none;
    font-size: 45px;

}

.icon-play:hover i{
    display: block;
    color: white;
}

.icon-play:hover img{
    opacity: 0.5;
}

.popular .cover img{
    border-radius: 50%;
}






    
    



a{
    text-decoration: none;
    color: white;
}


ul{
    display: flex;
    list-style: none;
    color: white;
    /* font-size: 12px; */
    align-items: flex-start;

}
.logo img{
    padding: 10px;
    width: 80%;
}

.logo-small img{
    display: none;
}


.nav-sidebar{
    margin-top: 15px;
}

.nav-sidebar ul {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding-left: 10px;
    
}

.playlist-sidebar{
    flex-shrink: 1;
    flex-grow: 1;
    overflow: auto;
}

.playlist-sidebar ul{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    margin-top: 10px;
    
}

.playlist-sidebar ul li a{
    color:#a3a3a3
}
.playlist-sidebar ul li a:hover{
    color:white;
}

.crea i:hover, .nav-top-menu ul li:hover, .crea:hover, .install .button-name:hover {
    color:white

}


.playlist-sidebar li{
    margin-top: 10px;



}


.playlist-sidebar h5{
    margin-top: 20px;
    padding-left: 10px;
    font-size: 15px;
}

.crea{
    display: flex;
    align-items: center;
    margin-top: 15px;
    padding-left: 10px;
    font-size: 15px;
    color:#a3a3a3
    
}


.crea i{
    font-size: 30px;
    color:#a3a3a3


}

.nav-sidebar ul li img{
    width: 30px;
    height: auto;
    vertical-align: middle;
}

.nav-sidebar ul li a{
    font-size: 12px;
    vertical-align: middle;
    color:#a3a3a3
}

.nav-sidebar ul li a:hover{
    color: white;
}



/* modifica post-correzione mattina */
.top-sidebar{
    display:flex;
    flex-direction: column;
    min-height: 350px;
    padding-left: 10px;
    overflow: hidden;
}
    

.bottom-sidebar{
    height: 150px;
}

.user, .install{
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin: 10px 5px 10px 5px;
}
.install .button-name{
    color:#a3a3a3
}
.install{
    border-bottom: 1px solid teal;
}


.install img{
    width: 30px;
    height: auto;
    
}

.user img{
    width: 25px;
    height: auto;
}




.app footer{
    background-color: #282828;
    height: 90px;
    display: flex;

}

.player-album, .player-audio{
    flex-basis: 230px;
    height: 100%;
    color: white;
}

.player-controller{
    display: flex;
    flex-grow: 1;
    height: 100%;
    flex-basis: 50%;
    align-items: center;
    color: white;
}

.player-album{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px;
    
}

.player-album-cover{
    width: 20%;

}
.player-album-cover img{
    width: 100%;

}


.player-album-title{
    width: 50%;
    padding: 0 10px;
}
.player-album-title h4{
    font-size: 12px;
}
.player-album-title .song-name{
    font-size: 10px;
    line-height: 1.4;
}

    
.player-album-icons{
    width: 30%;
    padding: 0 10px;
}

.player-audio{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.player-audio ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.player-audio ul li{
    padding: 0 5px;
}

.play-album-box a{
    text-decoration: none;
    color: white;
}

.controller-vol{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.controller{
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding-top:10px;
    
}
/* .icon-control .fa-play-circle{
    font-size: 26px;
} */

.minuts{
    font-size: 8px;
    width: 10%;
}

.vol-center-item, .vol-end{
    display: flex;
    flex-basis: 100%;
    background-color:lightgray;
    height: 3px;
    align-self: center;
    margin: 0 5px;

}

.vol-center{
    width: 90%;

}

.vol-flex{
    display: flex;
    flex-basis: 100%;
}

.icon-control{
    padding:0 5px;
}

.bottom-controller{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


@media all and (max-width: 576px){
    
    .logo{
        display: none;
    }

    .logo-small img{
        display: flex;
        padding: 10px;
    }

    button{
        display: none;
    }

    .playlist-sidebar{
        display: none;
    }

    .install{
        display: none;
    }

    .nav-sidebar ul li a{
        display: none;
    }

    .sidebar *{
        margin: 10px 0px 10px 1px;
    }







}




 




    
    






