.container-fluid {
    height: 100vh;
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;

}

.app {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

main{
    height: calc(100% - 90px);
    


}

.sidebar{
    background-color: #000000;
    color: white;
    display: flex;
    flex-flow:column;
    height: calc(100vh - 90px);
    justify-content: space-between;
    overflow: hidden;
}

main .content{
    background-color: cadetblue;
    overflow-y: scroll;
    height: 100%;

}

footer{
    background-color: #282828;
    height: 90px;

}

.top-bar{
    height: 90px;
    opacity: 70%;
    background-color: black;
    position: fixed;
    width: 100%;
}
/* ESEMPIO per calcolare sforo contenuti rispetto
al container */
.example{
    height: 200vh;
    width: 200px;
}

.player{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;


}
a{
    text-decoration: none;
    color: white;
}


ul{
    display: flex;
    list-style: none;
    color: white;
    /* font-size: 12px; */
    align-items: flex-start;

}
.logo img{
    padding: 10px;
    width: 80%;
}

.logo-small img{
    display: none;
}



.nav-sidebar ul, .playlist-sidebar ul{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding-left: 10px;
    
}
.playlist-sidebar h5{
    margin-top: 10px;
    padding-left: 10px;
}

.crea{
    padding-left: 10px;
}

.nav-sidebar ul li img{
    width: 32px;
    height: auto;
    vertical-align: middle;
}

.nav-sidebar ul li a{
    font-size: 18px;
    vertical-align: middle;
}


.install img{
    width: 10px;
    height: auto;
}

.user img{
    width: 25px;
    height: auto;
}

/* footer  */

.central-ul{
    justify-content: center;
}

.top-menu ul{
    margin-top: 120px;
}


/* soluzione per immagine da chiarire */
img{
    width: 70px;
    height: 70px;
    
    
}


.fa-play-circle{
    font-size: 24px;
}

.first-ul li, .central-ul li, .end-ul li{
    padding: 0 10px;
}